html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  max-width: 100%;
  overflow-y: hidden;
  
}

body {
  font-family:  "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 100;
  background-color:white ;
}
th, td {
    padding: 15px;
    text-align: left;
}
.menu 
{   color: #1E2121;
	position: absolute;
	margin-top:80px;
	top:20px;
	right:20px;
	padding: 25px;
	padding-top: 0px;
	float: right;
	overflow-y: scroll;
	height: 80%;
	overflow-x: hidden;
}
.table
{   color: #1E2121;
    margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 5px;
    padding: 40px;
	width: 150px;
	z-index: 1;
	white-space: nowrap;
	background-color: #FBFBFB;
	box-shadow: 0px 1px 5px 1px #888888;
	border-radius: 3px;
}
h3{
	width: 20%;
}
.item
{
	padding: 5px;
	background-color: solid white;
	margin-top: 10px;
	box-shadow: 0px 1px 5px 1px #888888;
	border-radius: 3px;
	width: 900px;
	right:0%;
}
th,td
{
	padding-right: 45px;
	padding-left: 45px;
}
.dish
{
	font-size: 20px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.form{
	background-color: #EEEFEF;
	position: fixed;
	z-index: 2;
	top: 100px;
	left:200px;
	width:60%;
	padding:30px;
	max-height: 50%;
	border-radius: 5px;
   overflow-y: auto;
	border-radius: 5px;
}
h4
{
	font-size: 20px;
	margin:2px;
}
.total_bill
{
	margin:2px;
}
.itemc
{
	margin:2px;
}
.bill{
	margin-top: 45px;
	float:left;
	overflow-y: auto;
	height: 90%;
	overflow-x: hidden;
	margin-bottom: 10px;
	padding-right: 20px;
	padding-left: 10px;

}

.search {
	position: fixed;
	top:20px;
    background-repeat: no-repeat; /* Do not repeat the icon image */ /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 6px 10px 6px 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-left: 4px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 1px #888888
}
#table1
{
	margin-top: 5px;
}
#search_table
{   top:52px;
	width:150px;
}
#search_menu
{   top:52px;
	right:235px;
	width: 700px;
}
.container
{
	height: 90%;
}
#alert
{
	margin-right: 460px;
	font-size: 20px;
	font-weight: 20px;
}
#alert1
{
	font-size: 20px;
	font-weight: 20px;
	margin-left: 10px;
}
#menu_heading
{right:600px;
 top:2px;
 position: absolute;
 font-size: 25px;
}
#table_heading
{   top:2px;
	margin-left:20px;
	font-size: 25px;
}
.invoice
{
	background-color: #7AC3CE;
	position: fixed;
	z-index: 4;
	top: 100px;
	left:300px;
	width:500px;
	padding:30px;
	max-height: 50%;
	border-radius: 5px;
   overflow-y: auto;
	border-radius: 5px;
}
.invoice table td{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: 30px;
	margin-left: 30px;
}
.invoice table th{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: 30px;
	margin-left: 30px;
}